body {
    font-family: serif;
}

.nab {
    width: 90%;
    height: 2%;
    background-color: rgb(86, 142, 190);
}

.top-banner {
    width: auto;
    height: 30%;
    border: 1px salmon;
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.name-highlight {
    color: orange;
}

.haf {
    width: 40%;
    height: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    top: inherit;
}

.haf-img {
    width: 100%;
}

button {
    background-color: orange;
    color: rgb(55, 51, 45);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 50px;
    font-size: 18px;
    padding: 2px;
    width: 80px;
    transition: 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
}

.expert {
    width: 100%;
    height: 25%;
    background-color: black;
}

.deam area {
    width: 70%;
    height: 40%;
    top: 10px;
    flex-wrap: wrap;
    background-color: rgb(171, 154, 188);
}

section {
    height: 40%;
    width: 70%;
    background-color: rgb(93, 78, 106);
}

button:hover {
    background-color: #d60909;
    /* Green */
}

.haf-width1 {
    width: 40%;
    height: 30%;
    float: left;
    margin-left: 3%;
    padding-left: 5%;
    position: relative;
}

.orange1 {
    color: orange;
    font-family: fantasy;
}

.orange2 {
    color: rgb(62, 28, 70);
    font-family: fantasy;
    background-color: aliceblue;
}

.one1 {
    width: 50%;
    height: 30%;
    float: left;
    padding: 5%;
    margin: 4%;
    box-shadow: 10px 10px 40px cornflowerblue;
    border-radius: 5px;
}

.two2 {
    width: 40%;
    height: 30%;
    float: auto;
    padding: 5%;
    margin: 4%;
    box-shadow: 10px 10px 40px rgb(16, 166, 68);
    border-radius: 5px;
}

.hidden {
    color: darkmagenta;
}

.nav__link1 {
    background-color: rgb(202, 197, 206);
    font-size: 18px;
    height: 30px;
    width: 40px;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}

.nav_link2 {
    background-color: beige;
    font-size: 16px;
    height: 28px;
    width: 35px;
}

.nav__link {
    background-color: beige;
    font-size: 16px;
    height: 45px;
    width: 50px;
}

ul {
    list-style: none;
}

ul li {
    float: left;
    border-right: 2px solid red;
}

ul li a {
    text-decoration: none;
    color: rgb(251, 97, 8);
    padding: 12px 22px;
    display: block;
    background-color: rgb(215, 212, 218);
    font-size: 20px;
    font-family: fantasy;
    width: 90%;
    height: 5%;
    text-overflow: ellipsis;
}

ul li a:hover {
    background-color: rgb(236, 213, 13);
}

td,
th {
    border: 1px solid orange;
    padding-right: 0px 10 px;
    background-color: aqua;
}

input[type=tel] {
    border: none;
    border-bottom: 2px solid red;
    background-color: rgb(241, 249, 235);
}

input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(183, 240, 133);
    background-color: rgb(187, 181, 204);
    text-decoration-color: #d60909;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid rgb(196, 167, 167);
    background-color: rgb(173, 150, 237);
}

.last {
    width: 100%;
    height: 30%;
    background-color: rgb(214, 236, 171);
}

.card h2 {
    background-color: aliceblue;
    text-align: center;
    color: black;
    text-overflow: inherit;
}

.card {
    text-decoration: none;
}